@import 'reset';
@import url("https://use.typekit.net/tsm1hfq.css");
.js-enabled .slide-in {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.js-enabled .slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

//------------------------------1
*::selection {
  background-color: #ABD4D0;
}
body {
  font-family: futura-pt, sans-serif;
  font-size: 1.0625em; /*17/16*/
  line-height: 1.764705882352941em; /*30/17*/
}
canvas{
  position: fixed;
  z-index: -10;
  top: 0;
  opacity: 0.4;
  //width: 100%;
  //height: 100%;
}
main {
  margin: 0 auto;
}

h2 {
  animation-name: bottomFadeOut;
  animation-delay: 2s;
  animation-duration: 3s;
  font-family: futura-pt-bold, sans-serif;
  color: #EEAC10;
  font-size: 2.058823529411765em; /*35/17*/
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: #18595B;
  min-height: 5.294117647058824em; /*90/17*/
  display: flex;
  padding: 0 9.117647058823529em; /*155/17*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

//------------------------------10

.intro__title {
  font-size: 2.941176470588235em; /*50/17*/
  margin-top: 0;
  padding: 5.2em 0 1.556em 0; /*260/50 78/50*/
  line-height: 1.38em; /*69/50*/
}

.intro__link {
  margin-right: 2.777777777777778em; /*50/18*/
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.header__nav {
  display: flex;
}

.nav__position {
  flex: 1;
}

.nav__logo {
  display: none;
}

.nav__liste {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px;
}

.nav__item {
  //flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 1em;

}

.nav__checkbox {
  display: none;
}

.nav__link {
  font-size: 20px; /*20/17*/
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: 0.35em 0.5em; /*7/20 10/20*/
}

.intro {
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(
                  rgba(255, 255, 255, 0.6),
                  rgba(255, 255, 255, 0.6)
  ),
  url("../../img/pexels-pixabay-459653.jpg"), no-repeat;
  background-size: cover;
  min-height: 44.11764705882353em; /*750/17*/
  border-radius: 0 25.11764705882353em; /*427/17*/
}

.intro__figure {
  border: solid 3px #ECC4C4;
  border-radius: 10.11764705882353em 0; /*172/17*/
  display: inline-block;
  margin-bottom: 3.823529411764706em; /*65/17*/
  margin-top: 2.941176470588235em; /*50/17*/
}

.intro__thumb {
  border-radius: 10.11764705882353em 0; /*172/17*/
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  right: 1.176470588235294em; /*20/17*/
  box-shadow: -10px 3px 6px #C2C2C2;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.7647058823529412em; /*13/17*/
}

.contact__position {
  display: flex;
  justify-content: center;
}

.about__contact {
  font-size: 1.058823529411765em; /*18/17*/
  background-color: #ABD4D0;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.176470588235294em 1.529411764705882em; /*20/17 26/17*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.projects__description {
  line-height: 1.764705882352941em; /*30/17*/
}

.career__list {
  display: flex;
  max-width: 39.05882352941176em; /*664/17*/
  margin-top: 3.235294117647059em; /*55/17*/
}

.career__item {
  display: flex;
  align-items: center;
  margin-right: 2.352941176470588em; /*40/17*/
}

.coordinates__title {
  font-weight: 600;
}

.layout__singleProjet {
  display: flex;
  flex-direction: column;
}

.singleProjet__picture {
  display: inline-flex;
  justify-content: center;
}

.singleProjet__fig {
  border: solid 3px #ECC4C4;
  border-radius: 14.11764705882353em 0; /*240/17*/
}

.singleProjet__thumb {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: -1.176470588235294em; /*20/17*/
  border-radius: 14.11764705882353em 0; /*240/17*/
  box-shadow: -10px 3px 6px #C2C2C2;

}

.singleProjet__nav {
  display: grid;
  grid-gap: 2.941176470588235em 5.882352941176471em; /*50/17 100/17*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin-top: 4.882352941176471em; /*83/17*/
  margin-bottom: 9.411764705882353em; /*160/17*/
}

.contact__paragraph {
  margin-top: 2.352941176470588em; /*40/17*/
}

.legales__position {
  display: flex;
  justify-content: center;
  margin-top: 5.294117647058824em; /*90/17*/
}

.about__nav {
  display: flex;
  margin-bottom: 5.764705882352941em; /*98/17*/
  align-items: center;
  justify-content: center;
  gap: 10.58823529411765em /*180/17*/
}

.about__position {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.confident {
  flex: 1;
  max-width: 39.05882352941176em; /*664/17*/
}

.form {
  margin-bottom: 5.882352941176471em; /*100/17*/
}

.form__label {
  text-transform: uppercase;
  font-size: 0.8823529411764706em; /*15/17*/
}

.form__actions {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form__input {
  background-color: #F7E7E7;
  min-height: 2.352941176470588em; /*40/17*/
  border: none;
  font-family: 'League Spartan', sans-serif;
}

.form__form {
  display: flex;
  flex-direction: column;
  margin-top: 2.647058823529412em; /*45/17*/
}

.form__field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.235294117647059em; /*21/17*/
}

.footer {
  font-size: 1.176470588235294em; /*20/17*/
  background-color: #18595B;
  font-weight: 600;
  padding: 0 7.25em;
  color: #FFFFFF;
  margin-top: 5em;
}

.footer__body {
  display: flex;
  padding: 1.764705882352941em 0; /*30/17*/
  justify-content: center;
  align-items: center;
}

.footer__fig {
  margin-right: 1.352941176470588em; /*23/17*/
}

.footer__network {
  flex: 1;
  display: flex;
}

.footer__placeholder {
  margin-right: 1em;
  font-weight: 500;
}

.footer_item:first-child img:hover {
  border-radius: 12px;
  background-color: #EEAC10;
}

.footer_item:nth-child(2) img:hover {
  border-radius: 3px;
  background-color: #EEAC10;
}

.footer_item:nth-child(3) img:hover {
  border-radius: 20px;
  background-color: #EEAC10;
}

.coordinates {
  font-size: 0.8823529411764706em; /*15/17*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #ECC4C4 3px solid;
  padding: 2.666666666666667em 6em; /*40/15 90/15*/
  border-radius: 11.46666666666667em 0; /*172/15*/
  max-width: 27.33333333333333em; /*410/17*/
  margin-right: 5.333333333333333em; /*80/15*/
}

.form__position {
  display: flex;
}

.career__thumb {
  max-width: 8em;
  max-height: 8em;
}
.singleProjet__header{
  margin: 5.714285714285714em 2.285714285714286em 2.857142857142857em; /*100/35 80/35*/
}

//------------------------------11

h2.projects__title {
  color: #EEAC10;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0;

}

.mail a {
  color: #000000;
  text-decoration: none;
}

.nav__logo a {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form__checklabel a {
  color: #ABD4D0;
  text-decoration: none;
}

p.singleProject__description {
  max-width: 39.11764705882353em; /*665/17*/
  margin-bottom: 4.705882352941176em; /*80/17*/
}

.project__link img {
  width: 2em;
  height: 2em;
}

//------------------------------12

textarea, input[type=text] {
  padding-left: 0.6666666666666667em; /*10/15*/
}

//------------------------------20

.nav__link:hover {
  color: #EEAC10;
}

.projects, .projects__list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__link:hover {
  color: #EEAC10;
}

.singleProjet__return, .lastest__link {
  background: url("../../img/arrow.svg");
  background-size: 20%;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 1.111111111111111em; /*20/18*/
  transition: all 0.3s ease-in-out;
}

.projects__title + .project__link {
  font-size: 1.058823529411765em; /*18/17*/
  position: absolute;
  right: 5%;
  top: 5%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ABD4D0;
  font-weight: 600;
  letter-spacing: 0.1111111111111111em; /*2/18*/
}

.projects__article, .project {
  flex: 1;
  display: flex;
  margin-top: 5.470588235294118em; /*93/17*/
  margin-bottom: 4.705882352941176em; /*80/17*/
  justify-content: center;
}

.form__field:nth-of-type(1) {
  margin-right: 1em;
}

.contact__section:nth-child(2) {
  flex: 1;
}

.who, .career {
  margin-bottom: 7.058823529411765em; /*120/17*/
}

.who__paragraph, .career__paragraph {
  max-width: 39.05882352941176em; /*664/17*/
}

.projects__excerpt, .project__excerpt {
  margin-top: 2.176470588235294em; /*37/17*/
  margin-bottom: 3.058823529411765em; /*52/17*/
}

.singleProject__description .singleProject__title {
  font-size: 1.176470588235294em; /*20/17*/
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.projects__cards, .project__cards {
  max-width: 28.64705882352941em; /*487/17*/
  flex: 1;
  align-self: end;
  padding-bottom: 0.5882352941176471em; /*10/17*/

}

.singleProjet__header, .projects__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5.882352941176471em 4.705882352941176em; /*100/17 80/17*/

}

.singleProject__description, .singleProject__excerpt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.singleProject__description .singleProject__title {
  margin-bottom: 1.470588235294118em; /*25/17*/
}

.contact__section, .legales__section {
  margin-bottom: 4.117647058823529em; /*70/17*/
  margin-left: 0;
  margin-right: 0;
  max-width: 39.05882352941176em; /*664/17*/
}

.who, .career {
  display: flex;
  flex-direction: column;
  max-width: 39.05882352941176em; /*664/17*/
}

.nav__item:nth-of-type(2) {
  flex: 1;
  justify-content: flex-end;
}

.nav__item:first-child {
  background-image: url("../../img/logo-GB-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 2.666666666666667em; /*40/15*/
  min-width: 2.666666666666667em;
  padding: 0;
  justify-self: start;

}

//------------------------------21
.nav__item:nth-of-type(1) a {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article.projects__article:first-of-type {
  margin-top: 0;
}

.singleProjet__nav a:first-child {
  font-size: 1.058823529411765em; /*18/17*/
  grid-column: 1;
  grid-row: 2;
  background-color: #FFFFFF;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #ABD4D0;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.singleProjet__nav a:last-child {
  font-size: 1.058823529411765em; /*18/17*/
  grid-column: 3;
  grid-row: 2;
  background-color: #FFFFFF;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #ABD4D0;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  max-height: 1.666666666666667em; /*30/17*/
}

//------------------------------22

div.singleProjet__nav a.singleProjet__link {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.058823529411765em; /*18/17*/
  background-color: #ABD4D0;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.111111111111111em 1.444444444444444em; /*20/18 26/18*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

//------------------------------30

.singleProjet__return, .about__cv, .lastest__link {
  font-size: 1.058823529411765em; /*18/17*/
  text-transform: uppercase;
  text-decoration: none;
  color: #ABD4D0;
  font-weight: 600;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  transition: all 0.3s ease-in-out;
}

.coordinates__mail, .coordinates__phone, .coordinates__address {
  margin-bottom: 0.8823529411764706em; /*15/17*/
}


div.singleProjet__nav a.singleProjet__link:hover {
  background-color: #FFFFFF;
  color: #ABD4D0;
}

//------------------------------40

.projects__article:nth-child(odd) .projects__picture .projects__fig {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: -1.176470588235294em; /*20/17*/
}

.projects__article:nth-child(even) .projects__picture .projects__fig {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: 1.176470588235294em; /*20/17*/
}

//------------------------------41

.projects__article:nth-child(even) .projects__picture .projects__fig img {
  box-shadow: 10px 3px 6px #C2C2C2;
  border-radius: 0 10.11764705882353em; /*172/17*/
}

//------------------------------50

.projects__link, .intro__link, .project .project__link, .form__button {
  font-size: 1.058823529411765em; /*18/17*/
  margin-top: 1.777777777777778em; /*32/17*/
  background-color: #ABD4D0;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.111111111111111em 1.444444444444444em; /*20/18 26/18*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.coordinate__title, .form__title, .confident__title, .career__title, .who__title, {
  margin-bottom: 1.666666666666667em; /*50/30*/
}

.projects__article:nth-child(even) .projects__picture {
  border: solid 3px #ECC4C4;
  border-radius: 0 10.11764705882353em; /*172/17*/
}

.projects__article:nth-child(odd) .projects__picture {
  border: solid 3px #ECC4C4;
  border-radius: 10.11764705882353em 0; /*172/17*/
}

//------------------------------70

.projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
  margin-left: 5.294117647058824em; /*90/17*/
}

//------------------------------80

.projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
  margin-right: 5.294117647058824em; /*90/17*/
  order: -1;
}

//------------------------------82

.projects__article:nth-child(odd) .projects__picture .projects__fig img, .projects .project:nth-child(odd) .project__picture img {
  box-shadow: -10px 3px 6px #C2C2C2;
  border-radius: 10.11764705882353em 0; /*172/17*/
}

//------------------------------91

h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title, {
  font-size: 1.666666666666667em; /*30/17*/
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

//------------------------------92

.projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title,  {
  margin: 5.714285714285714em 2.285714285714286em 2.857142857142857em; /*100/35 80/35*/
}


//------------------------------110

.projects__link:hover, .intro__link:hover, .project .project__link:hover, .form__button:hover, .about__contact:hover {
  color: #ABD4D0;
  background-color: #FFFFFF;
}

//---------------------------------
//--------------------Médias queries---------------------

@media (max-width: 480px) {
  //----------------------------1

  body {
    font-size: 0.8823529411764706em; /*15/17*/
  }

  h2 {
    font-size: 1.666666666666667em;
  }
  //----------------------10

  .footer {
    padding: 0 1.5em;
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
  }
  .about__position {
    display: block;
  }
  .career__thumb {
    max-width: 3.5em;
    max-height: 3.5em;
  }
  .footer__placeholder {
    font-size: 0.6666666666666667em; /*10/15*/
    margin-bottom: 0.6666666666666667em; /*10/15*/
  }

  .header__nav {
    min-height: 3em;
  }

  .nav__item {
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 0;
    min-width: 100%;
  }

  .nav__logo {
    display: block;
    max-width: 2.333333333333333em; /*35/15*/
    min-height: 2.333333333333333em; /*35/15*/
    top: 0.5%;
    left: 4%;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/logo-GB-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    justify-self: start;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 0.4666666666666667em; /*7/15*/
    width: 2em;
    z-index: 15;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 1em; /*15*/
    width: 1.7em;
    z-index: 10;
  }

  .burger__line { /*10*/
    background: #FFFFFF;
    display: block;
    height: 0.2em; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .intro {
    background-repeat: no-repeat;
    padding: 2.333333333333333em;
    border-radius: 0 8.5em;
    min-height: auto;
  }
  .form__position {
    flex-direction: column;
  }
  .singleProjet__header {
    flex-direction: column;
    padding-left: 0;
    align-items: start;
    padding-top: 3.133333333333333em; /*107/15*/
    padding-bottom: 3.333333333333333em; /*50/15*/
    margin-top: 4.33em;
    margin-bottom: 0;
    margin-left: 0;
  }

  .singleProjet__fig {
    border: solid 2px #ECC4C4;
    border-radius: 7em 0
  }

  .singleProjet__thumb {
    border-radius: 7em 0;
    top: 0.6em;
    left: -0.6em;
    max-width: 350px;
  }

  .singleProjet__nav {
    grid-gap: 1em 0.1em;
    grid-template-columns: 50px 1fr 50px;
  }

  .intro__title {
    padding: 3.2em 0 1.556em 0;
    font-size: 2em; /*30/15*/
  }
  .projects {
    //gap: 80px;
  }
  .projects__header {
    flex-direction: column;
    align-items: start;
    padding: 4em 0 1em;
  }

  .projects__cards {
    padding: 1em;
    flex: 1;
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
  }

  .projects__article {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .projects__picture {
    //position: absolute;
    ////top: -20%;
    //z-index: -1;
    //opacity: 0.2;
  }

  .intro__container {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  .intro__link {
    padding: 0.5em;
    margin: 0;
  }

  .about__nav {
    gap: 4em;
  }

  .nav__liste {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1.333333333333333em; /*20/15*/
  }

  .nav__position {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #18595B;
    top: -200%;
    left: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .coordinates {
    margin-right: 0;
  }

  .confident {
    margin-bottom: 5em;
  }
  .footer__fig {
    margin-right: 1em;
  }
  .footer__link {
    font-size: 0.6666666666666667em; /*10/15*/
  }
  .projects__thumb {
    width: 100%;
    height: 100%;
  }
  //----------------------11

  h2.projects__title {
    font-size: 1.666666666666667em;
  }

  .nav__item a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
    font-weight: 500;
  }
  img.footer__thumb {
    width: 1.4em;
  }

  //----------------------12
  textarea, input[type=text] {
    padding-left: 0;
  }
  //----------------------20
  .form__field:nth-of-type(1) {
    margin-right: 0;
  }
  .projects__article:nth-of-type(2) {
    margin-top: 0;
  }
  .projects__article:nth-of-type(even) {

    flex-direction: column;
  }
  .projects__excerpt {
    display: none
  }

  .lastest__link, .singleProjet__return {
    margin-top: 0.6666666666666667em; /*10/15*/
    font-size: 0.7333333333333333em; /*11/15*/
  }
  .projects__link {
    padding: 0.5em 1em;
    margin: 0;
  }
  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
  }
  .projects__article, .project {
    margin-top: 0;
  }
  .nav__item:first-child {
    background-image: none;
    min-height: auto;
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 0;
    min-width: 100%;
  }

  .contact__position, .legales__position {
    flex-direction: column;
  }

  //----------------------21
  .singleProjet__nav a:first-child {
    justify-self: flex-start;
  }
  .singleProjet__nav a:last-child {
    justify-self: flex-end;
  }

  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }
  .nav__item:nth-of-type(1) a {
    width: auto;
    height: auto;
  }
  //----------------------30

  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  //----------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
  }

  //----------------------50

  .layout__contact, .layout__legales, .layout__about, .layout__project, .layout__singleProjet {
    padding: 0 1em;
  }

  //----------------------64

  .singleProjet__nav a:first-child, .singleProjet__nav a:last-child, div.singleProjet__nav a.singleProjet__link {
    font-size: 0.7333333333333333em; /*11/15*/
    text-align: center;
  }

  //-------------------------70
  .projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
    margin-left: 0;
    //top: -15%;
  }

  .projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
    margin-right: 0;
  }

  .projects__link, .intro__link, .project .project__link, .form__button, .about__contact, .about__cv {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //--------------------------91

  h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title {
    font-size: 1.333333333333333em; /*20/15*/
  }

  //--------------------------92
  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title {
    margin-left: 0;
    margin-top: 4.666666666666667em; /*100/15*/
  }


}

@media (min-width: 481px) and (max-width: 860px) {
  //----------------------------1

  body {
    font-size: 0.8823529411764706em; /*15/17*/
  }

  h2 {
    font-size: 1.666666666666667em;
  }
  //----------------------10

  .footer {
    padding: 0 1.5em;
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
  }
  .about__position {
    display: block;
  }
  .career__list{
    justify-content: center;
  }
  .career__thumb {
    max-width: 5.5em;
    max-height: 5.5em;
  }
  .footer__placeholder {
    font-size: 0.6666666666666667em; /*10/15*/
    margin-bottom: 0.6666666666666667em; /*10/15*/
  }

  .header__nav {
    min-height: 3em;
  }

  .nav__item {
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 0;
    min-width: 100%;
  }

  .nav__logo {
    display: block;
    max-width: 2.333333333333333em; /*35/15*/
    min-height: 2.333333333333333em; /*35/15*/
    top: 0.5%;
    left: 4%;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/logo-GB-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    justify-self: start;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 0.4666666666666667em; /*7/15*/
    width: 2em;
    z-index: 15;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 1em; /*15*/
    width: 1.7em;
    z-index: 10;
  }

  .burger__line { /*10*/
    background: #FFFFFF;
    display: block;
    height: 0.2em; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .intro {
    background-repeat: no-repeat;
    padding: 2.333333333333333em;
    border-radius: 0 8.5em;
    min-height: auto;
  }
  .form__position {
    flex-direction: column;
  }
  .singleProjet__header {
    flex-direction: column;
    padding-left: 0;
    align-items: start;
    padding-top: 3.133333333333333em; /*107/15*/
    padding-bottom: 3.333333333333333em; /*50/15*/
    margin-top: 4.33em;
    margin-bottom: 0;
    margin-left: 0;
  }

  .singleProjet__fig {
    border: solid 2px #ECC4C4;
    border-radius: 7em 0
  }

  .singleProjet__thumb {
    border-radius: 7em 0;
    top: 0.6em;
    left: -0.6em;
    max-width: 500px;
  }

  .singleProjet__nav {
    grid-gap: 1em 0.1em;
    grid-template-columns: 50px 1fr 50px;
  }

  .intro__title {
    padding: 3.2em 0 1.556em 0;
    font-size: 2em; /*30/15*/
  }
  .projects {
    //gap: 80px;
  }
  .projects__header {
    flex-direction: column;
    align-items: start;
    padding: 4em 0 1em;
  }

  .projects__cards {
    padding: 1em;
    flex: 1;
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
  }

  .projects__article {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    margin-bottom: 85px;
  }

  .projects__picture {
    //position: absolute;
    ////top: -20%;
    //z-index: -1;
    //opacity: 0.2;
  }

  .intro__container {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  .intro__link {
    padding: 0.5em;
    margin: 0;
  }

  .about__nav {
    gap: 8em;
  }

  .nav__liste {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1.333333333333333em; /*20/15*/
  }

  .nav__position {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #18595B;
    top: -200%;
    left: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .coordinates {
    margin-right: 0;
  }

  .confident {
    margin-bottom: 5em;
  }
  .footer__fig {
    margin-right: 1em;
  }
  .footer__link {
    font-size: 0.6666666666666667em; /*10/15*/
  }
  .projects__thumb {
    width: 100%;
    height: 100%;
  }
  //----------------------11

  h2.projects__title {
    font-size: 1.666666666666667em;
  }

  .nav__item a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
    font-weight: 500;
  }
  img.footer__thumb {
    width: 1.4em;
  }

  //----------------------12
  textarea, input[type=text] {
    padding-left: 0;
  }
  //----------------------20
  .form__field:nth-of-type(1) {
    margin-right: 0;
  }
  .projects__article:nth-of-type(2) {
    margin-top: 0;
  }
  .projects__article:nth-of-type(even) {

    flex-direction: column;
  }
  .projects__excerpt {
    display: none
  }

  .lastest__link, .singleProjet__return {
    margin-top: 0.6666666666666667em; /*10/15*/
    font-size: 0.7333333333333333em; /*11/15*/
  }
  .projects__link {
    padding: 0.5em 1em;
    margin: 0;
  }
  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
  }
  .projects__article, .project {
    margin-top: 0;
  }
  .nav__item:first-child {
    background-image: none;
    min-height: auto;
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #FFFFFF;
    margin-right: 0;
    min-width: 100%;
  }

  .contact__position, .legales__position {
    flex-direction: column;
  }
  .projects__cards, .project__cards{
    max-width: initial;
  }
  //----------------------21
  .singleProjet__nav a:first-child {
    justify-self: flex-start;
  }
  .singleProjet__nav a:last-child {
    justify-self: flex-end;
  }

  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }
  .nav__item:nth-of-type(1) a {
    width: auto;
    height: auto;
  }
  //----------------------30

  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  //----------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
  }
  .projects__article:nth-child(even) .projects__picture{
    border-radius:  0 18.117647058800003em;
  }
  .projects__article:nth-child(odd) .projects__picture{
    border-radius:  0 18.117647058800003em;
  }
  .projects__article:nth-child(even) .projects__picture .projects__fig {
    display: flex;
  }
  .projects__article:nth-child(odd) .projects__picture .projects__fig {
    display: flex;
  }
  //----------------------50
  .projects__article:nth-child(even) .projects__picture .projects__fig img{
    border-radius:  0 18.117647058800003em;
  }
  .projects__article:nth-child(odd) .projects__picture .projects__fig img{
    border-radius:  0 18.117647058800003em;
  }
  .layout__contact, .layout__legales, .layout__about, .layout__project, .layout__singleProjet {
    padding: 0 3em;
  }

  //----------------------64

  .singleProjet__nav a:first-child, .singleProjet__nav a:last-child, div.singleProjet__nav a.singleProjet__link {
    font-size: 0.7333333333333333em; /*11/15*/
    text-align: center;
  }

  //-------------------------70
  .projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
    margin-left: 0;
    //top: -15%;
  }

  .projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
    margin-right: 0;
  }

  .projects__link, .intro__link, .project .project__link, .form__button, .about__contact, .about__cv {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //--------------------------91

  h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title {
    font-size: 1.333333333333333em; /*20/15*/
  }

  //--------------------------92
  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title {
    margin-left: 0;
    margin-top: 4.666666666666667em; /*100/15*/
  }


}

@media (min-width: 861px) and (max-width: 1100px) {
  nav{
    padding: 0;
  }
  .projects__header{
    padding-left: 0;
  }
  .footer{
    padding: 0 2em;
  }
  .singleProjet__thumb{
    max-width: 700px;
    border-radius: 10.1176470588em 0;
  }
  .projects__cards, .project__cards{
    max-width: initial;
  }
  .projects:nth-of-type(2), .contact__position, .legales__position{
    padding: 0 2em;
  }

  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title{
    margin-left: 0.8571428571em;
  }
}
@media (min-width: 1710px) {
  //-----------------------1
  body {
    font-size: 20px;
  }
  //-----------------------10
  .intro {
    min-height: 55em;
  }

  .intro__title {
    padding: 7.5em 0 2em 0;
  }
  .nav__position{
    display: flex;
  }
  .nav__logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .layout__singleProjet {
    margin-bottom: 5em;
  }

  .layout__contact {
    margin-bottom: 6em;
  }

  .legales__position {
    margin-bottom: 9.5em;
  }
  //-----------------------20

  .nav__checkbox, .burger { /*20*/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }

}