@import 'reset';

body {
  font-family: Spartan;
  font-size: 17px;
  line-height: 30px;
}
textarea, input[type=text]{
  padding-left: 10px;
}
main {
  margin: 0 auto;
}
h2.projects__title{
  color: #EEAC10;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;

}
h2, {
  color: #EEAC10;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.intro__title{
  font-size: 50px;
  margin-top: 0;
  padding:260px  0px 78px 0px;
  line-height: 69px;
}
.intro__link {
  margin-right: 50px ;
}
nav {
  background-color: #18595B;
  min-height: 90px;
  display: flex;
  padding: 0 155px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.nav__liste {

  flex: 1;
  display: flex;
  align-items: center;

}

.nav__item {
  flex: 1;
  display: flex;
  justify-content: center;

}
.nav__item--current a{
  border: 1px solid rgba(244,244,244,.6);
  border-radius: 0px 25px;
}
.nav__link {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 10px;
}

.intro{
  text-align: center;
  margin: 0 auto;
  background:
          linear-gradient(
                          rgba(255, 255, 255, 0.6),
                          rgba(255, 255, 255, 0.6)
          ),
          url("../../img/pexels-pixabay-459653.jpg"), no-repeat;
  background-size: cover;
  min-height: 750px;
  border-radius: 0px 427px;
}

.intro__figure{
  border: solid 3px #ECC4C4;
  border-radius:  172px 0px;
  display: inline-block;
  margin-bottom: 65px;
  margin-top: 50px;
}
.intro__thumb{
  border-radius:  172px 0px;
  position: relative;
  top: 20px;
  right: 20px;
  box-shadow: -10px 3px 6px #C2C2C2;
}
.projects, .projects__list{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 160px;
}
.projects__title + .project__link, .singleProjet__return{
  position: absolute;
  right: 0;
  top: 5%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ABD4D0;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
}
.projects__article, .project {
  flex: 1;
  display: flex;
  margin-top: 93px;
  margin-bottom: 80px;
  justify-content: center;
}
.coordinates__mail, .coordinates__phone, .coordinates__address{
  margin-bottom: 15px;
}
.coordinates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #ECC4C4 3px solid;
  padding: 40px 90px;
  border-radius: 172px 0px;
  max-width: 410px;
  margin-right: 80px;
  font-size: 15px;
}
.form__position{
  display: flex;
}
.form__field:nth-of-type(1){
  margin-right: 16px;
}
.mail a{
  color: #000000;
  text-decoration: none;
}
.contact__section:nth-child(2){
  flex: 1;
}
.contact__position{
  display: flex;
  justify-content: center;
}
.projects__link, .intro__link, .project .project__link, .form__button {
  font-size: 18px;
  margin-top: 32px;
  background-color: #ABD4D0;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-weight: 600;
  padding: 20px 26px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.projects__article:nth-child(even) .projects__picture{
  border: solid 3px #ECC4C4;
  border-radius: 0px 172px;
}
.projects__article:nth-child(odd) .projects__picture{
  border: solid 3px #ECC4C4;
  border-radius:  172px 0px;
}

.projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
  margin-left: 90px;
}

.projects__description {
  line-height: 30px;
}

.projects__article:nth-child(odd) .projects__picture .projects__fig{
  position: relative;
  top: 20px;
  left: -20px;
}
.projects__header .projects__title, .about .about__title, .contact .contact__title{
  margin: 80px 0px;
}
.projects__article:nth-child(even) .projects__picture .projects__fig{
  position: relative;
  top: 20px;
  left: 20px;
}
.projects__article:nth-child(even) .projects__picture .projects__fig img{
  box-shadow: 10px 3px 6px #C2C2C2;
  border-radius: 0px 172px;
}
.projects__article:nth-child(odd) .projects__picture .projects__fig img, .projects .project:nth-child(odd) .project__picture img {
  box-shadow: -10px 3px 6px #C2C2C2;
  border-radius: 172px 0px;
}
.who, .career{
  margin-bottom: 30px;
}
.who__paragraph, .career__paragraph {
  max-width: 664px;
}
.projects__excerpt, .project__excerpt {
  margin-top: 37px;
  margin-bottom: 52px;
}
.career__list{
  display: flex;
  max-width: 664px;
  margin-top: 30px;
}
.career__item{
  margin: 0px 60px;
}
h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: #000000;
}
.coordinate__title, .form__title{
  margin-bottom: 50px;
}
.form__checklabel a{
  color: #ABD4D0;
  text-decoration: none;
}
.singleProject__description .singleProject__title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
}
.layout__singleProjet{
  display: flex;
  flex-direction: column;
}
.singleProjet__fig{
  flex: 1;
  max-height: 480px;
  width: 100%;
}
.singleProjet__thumb{
  border-radius: 240px 0px;
  box-shadow: -10px 3px 6px #C2C2C2;
}
.projects__cards, .project__cards {
  max-width: 487px;
  flex: 1;
  align-self: end;
  padding-bottom: 10px;

}

.projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
  margin-right: 90px;
  order: -1;
}
.singleProjet__section{
  position: relative;
}
p.singleProject__description{
  max-width: 665px;
}
.singleProjet__nav{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
}
div.singleProjet__nav a.singleProjet__link{
  grid-column: 2;
  grid-row: 1;
  font-size: 18px;
  background-color: #ABD4D0;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-weight: 600;
  padding: 20px 26px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.singleProjet__nav a:first-child{
  grid-column: 1;
  grid-row: 2;
  font-size: 18px;
  background-color: #FFFFFF;
  letter-spacing: 2px;
  color: #ABD4D0 ;
  font-weight: 600;
  padding: 20px 26px;
  text-decoration: none;
  text-transform: uppercase;
}
.singleProjet__nav a:last-child{
  grid-column: 3;
  grid-row: 2;
  font-size: 18px;
  background-color: #FFFFFF;
  letter-spacing: 2px;
  color: #ABD4D0 ;
  font-weight: 600;
  padding: 20px 26px;
  text-decoration: none;
  text-transform: uppercase;
}
.contact__paragraph{
  margin-top: 40px;
}
.contact__section{
  margin-bottom: 70px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 664px;
}
.who, .career{
  display: flex;
  flex-direction: column;
  max-width: 664px;
  margin: 0 auto;
}
.form{
  margin-bottom: 100px;
}
.form__label{
  text-transform: uppercase;
  font-size: 15px;
}
.form__actions{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.form__input{
  background-color: #F7E7E7;
  min-height: 40px;
  border: none;
  font-family: Spartan;
}

.form__form{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.form__field{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}
.footer {
  background-color: #18595B;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 145px;;
  color: #FFFFFF;
}

.footer__body {
  display: flex;
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
}
.footer__fig {
  margin-right: 23px;
}

.footer__network {
  flex: 1;
  display: flex;
}
.footer__placeholder{
  margin-right: 1em;
}
.project__link img {
  width: 33px;
  height: 33px;
}