@import 'reset';
@import url("https://use.typekit.net/tsm1hfq.css");

//------------------------------1
*::selection {
  background-color: #ABD4D0;
}

body {
  font-family: futura-pt, sans-serif;
  font-size: 1.0625em; /*17/16*/
  line-height: 1.764705882352941em; /*30/17*/
}

nav {
  background-color: #F8F6F4;
  min-height: 5.294117647058824em; /*90/17*/
  display: flex;
  padding: 0 9.117647058823529em; /*155/17*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main {
  margin: 0 auto;
}

h2 {
  animation-name: bottomFadeOut;
  animation-delay: 2s;
  animation-duration: 3s;
  font-family: futura-pt-bold, sans-serif;
  color: #588571;
  font-size: 2.058823529411765em; /*35/17*/
  font-weight: bold;
  text-transform: uppercase;
}

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  opacity: 0.3;
}

svg{
  width: 30px;
  height: 30px;
}

//------------------------------10

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.header__nav {
  display: flex;
}

.nav__position {
  flex: 1;
}

.nav__logo {
  display: none;
}

.nav__liste {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 30px;
}

.nav__item {
  display: flex;
  justify-content: center;
  margin-right: 1em;

}

.nav__checkbox {
  display: none;
}

.nav__link {
  font-size: 20px; /*20/17*/
  text-align: center;
  text-decoration: none;
  color: #B1516D;
  font-weight: 500;
  padding: 0.35em 0.5em; /*7/20 10/20*/
}

.intro {
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(
                  rgba(255, 255, 255, 0.6),
                  rgba(255, 255, 255, 0.6)
  ),
  url("../../img/pexels-pixabay-459653-min.jpg"), no-repeat;
  background-size: cover;
  border-radius: 0 25.11764705882353em; /*427/17*/
  padding: 12em 0;
}

.intro__title {
  font-size: 2.941176470588235em; /*50/17*/
  margin-top: 0;
  padding: 1.5em 0; /*260/50 78/50*/
  line-height: 1.38em; /*69/50*/
}

.intro__link {
  margin-right: 2.777777777777778em; /*50/18*/
}

.intro__figure {
  border: solid 3px #E0B487;
  border-radius: 10.11764705882353em 0; /*172/17*/
  display: inline-block;
  margin-bottom: 3.823529411764706em; /*65/17*/
  margin-top: 2.941176470588235em; /*50/17*/
}

.intro__thumb {
  border-radius: 10.11764705882353em 0; /*172/17*/
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  right: 1.176470588235294em; /*20/17*/
  box-shadow: -10px 3px 6px #C2C2C2;
}

.footer__link {
  text-decoration: none;
  color: #B1516D;
  font-size: 0.7647058823529412em; /*13/17*/
}

.contact__position {
  display: flex;
  justify-content: center;
}

.about__contact {
  font-size: 1.058823529411765em; /*18/17*/
  background-color: #B1516D;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.176470588235294em 1.529411764705882em; /*20/17 26/17*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.about__nav {
  display: flex;
  margin-bottom: 5.764705882352941em; /*98/17*/
  align-items: center;
  justify-content: center;
  gap: 10.58823529411765em /*180/17*/
}

.about__position {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects__description {
  line-height: 1.764705882352941em; /*30/17*/
}

.career__list {
  display: flex;
  max-width: 39.05882352941176em; /*664/17*/
  margin-top: 3.235294117647059em; /*55/17*/
}

.career__item {
  display: flex;
  align-items: center;
  margin-right: 2.352941176470588em; /*40/17*/
}

.career__thumb {
  max-width: 8em;
  max-height: 8em;
}

.coordinates__title {
  font-weight: 600;
}

.layout__singleProjet {
  display: flex;
  flex-direction: column;
}

.singleProjet__picture {
  display: inline-flex;
  justify-content: center;
}

.singleProjet__fig {
  border: solid 3px #E0B487;
  border-radius: 14.11764705882353em 0; /*240/17*/
}

.singleProjet__thumb {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: -1.176470588235294em; /*20/17*/
  border-radius: 14.11764705882353em 0; /*240/17*/
  box-shadow: -10px 3px 6px #C2C2C2;

}

.singleProjet__nav {
  display: grid;
  grid-gap: 2.941176470588235em 5.882352941176471em; /*50/17 100/17*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin-top: 4.882352941176471em; /*83/17*/
  margin-bottom: 9.411764705882353em; /*160/17*/
}

.singleProjet__header {
  margin: 5.714285714285714em 2.285714285714286em 2.857142857142857em; /*100/35 80/35*/
}

.contact__paragraph {
  margin-top: 2.352941176470588em; /*40/17*/
}

.confident {
  flex: 1;
  max-width: 39.05882352941176em; /*664/17*/
}

.coordinates {
  font-size: 0.8823529411764706em; /*15/17*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #E0B487 3px solid;
  padding: 2.666666666666667em 6em; /*40/15 90/15*/
  border-radius: 11.46666666666667em 0; /*172/15*/
  max-width: 27.33333333333333em; /*410/17*/
  margin-right: 5.333333333333333em; /*80/15*/
}

.legales__position {
  display: flex;
  justify-content: center;
  margin-top: 5.294117647058824em; /*90/17*/
}

.error404__title {
  font-size: 2.1875em; /*35/16*/
  max-width: 15.71428571428571em; /*550/35*/
  line-height: 1.142857142857143em; /*40/35*/
  margin-top: 6em;
  align-self: center;

}

.error404__position {
  display: flex;
  flex-direction: column;
}

.error404__subtitle {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.error404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-bottom: 13em;
}

.error404__content {
  font-size: 1.2em;
}

.error404__link {
  color: #B1516D;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  margin-top: 0.6666666666666667em; /*10/15*/
}

.form {
  margin-bottom: 5.882352941176471em; /*100/17*/
}

.form__label {
  text-transform: uppercase;
  font-size: 0.8823529411764706em; /*15/17*/
}

.form__actions {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form__input {
  background-color: #F3E1CF;
  min-height: 2.352941176470588em; /*40/17*/
  border: none;
  font-family: 'League Spartan', sans-serif;
}

.form__form {
  display: flex;
  flex-direction: column;
  margin-top: 2.647058823529412em; /*45/17*/
}

.form__field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.235294117647059em; /*21/17*/
}

.form__position {
  display: flex;
}

.footer {
  font-size: 1.176470588235294em; /*20/17*/
  background-color: #F8F6F4;
  font-weight: 600;
  padding: 0 7.25em;
  color: #B1516D;
  margin-top: 5em;
}

.footer__body {
  display: flex;
  padding: 1.764705882352941em 0; /*30/17*/
  justify-content: center;
  align-items: center;
}

.footer__fig {
  margin-right: 1.352941176470588em; /*23/17*/
}

.footer__network {
  flex: 1;
  display: flex;
}

.footer__placeholder {
  margin-right: 1em;
  font-weight: 500;
}

//------------------------------11

.nav__logo a {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2.projects__title {
  color: #588571;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0;

}

.project__link img {
  width: 2em;
  height: 2em;
}

.mail a {
  color: #000000;
  text-decoration: none;
}

p.singleProject__description {
  max-width: 39.11764705882353em; /*665/17*/
  margin-bottom: 4.705882352941176em; /*80/17*/
}

.form__checklabel a {
  color: #B1516D;
  text-decoration: none;
}

//------------------------------12

textarea, input[type=text] {
  padding-left: 0.6666666666666667em; /*10/15*/
}

//------------------------------20

.nav__link:hover {
  color: #E0B487;
}

.nav__item:nth-of-type(2) {
  flex: 1;
  justify-content: flex-end;
}

.nav__item:first-child {
  background-image: url("../../img/logo-GB.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 2.666666666666667em; /*40/15*/
  min-width: 2.666666666666667em;
  padding: 0;
  justify-self: start;

}

.js-enabled .slide-in {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projects, .projects__list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects__title + .project__link {
  font-size: 1.058823529411765em; /*18/17*/
  position: absolute;
  right: 5%;
  top: 5%;
  text-transform: uppercase;
  text-decoration: none;
  color: #B1516D;
  font-weight: 600;
  letter-spacing: 0.1111111111111111em; /*2/18*/
}

.projects__article, .project {
  flex: 1;
  display: flex;
  margin-top: 5.470588235294118em; /*93/17*/
  margin-bottom: 4.705882352941176em; /*80/17*/
  justify-content: center;
}

.projects__excerpt, .project__excerpt {
  margin-top: 2.176470588235294em; /*37/17*/
  margin-bottom: 3.058823529411765em; /*52/17*/
}

.projects__cards, .project__cards {
  max-width: 28.64705882352941em; /*487/17*/
  flex: 1;
  align-self: end;
  padding-bottom: 0.5882352941176471em; /*10/17*/

}

.singleProjet__return, .lastest__link {
  background: url("../../img/arrow.svg");
  background-size: 20%;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 1.111111111111111em; /*20/18*/
  transition: all 0.3s ease-in-out;
}

.singleProject__description .singleProject__title {
  font-size: 1.176470588235294em; /*20/17*/
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.singleProjet__header, .projects__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5.882352941176471em 4.705882352941176em; /*100/17 80/17*/

}

.singleProject__description, .singleProject__excerpt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.singleProject__description .singleProject__title {
  margin-bottom: 1.470588235294118em; /*25/17*/
}

.contact__section, .legales__section {
  margin-bottom: 4.117647058823529em; /*70/17*/
  margin-left: 0;
  margin-right: 0;
  max-width: 39.05882352941176em; /*664/17*/
}

.contact__section:nth-child(2) {
  flex: 1;
}

.form__field:nth-of-type(1) {
  margin-right: 1em;
}

.who__paragraph, .career__paragraph {
  max-width: 39.05882352941176em; /*664/17*/
}

.who, .career {
  display: flex;
  flex-direction: column;
  max-width: 39.05882352941176em; /*664/17*/
  margin-bottom: 7.058823529411765em; /*120/17*/
}

.footer__link:hover {
  color: #E0B487;
}

//------------------------------21
.nav__item:nth-of-type(1) a {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article.projects__article:first-of-type {
  margin-top: 0;
}

.singleProjet__nav a:first-child {
  font-size: 1.058823529411765em; /*18/17*/
  grid-column: 1;
  grid-row: 2;
  background-color: #FFFFFF;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #B1516D;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.singleProjet__nav a:last-child {
  font-size: 1.058823529411765em; /*18/17*/
  grid-column: 3;
  grid-row: 2;
  background-color: #FFFFFF;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #B1516D;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  max-height: 1.666666666666667em; /*30/17*/
}
.footer__thumb:hover path{
  fill: #E0B487;
}

//------------------------------22

div.singleProjet__nav a.singleProjet__link {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.058823529411765em; /*18/17*/
  background-color: #B1516D;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.111111111111111em 1.444444444444444em; /*20/18 26/18*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

//------------------------------30

.js-enabled .slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.singleProjet__return, .about__cv, .lastest__link {
  font-size: 1.058823529411765em; /*18/17*/
  text-transform: uppercase;
  text-decoration: none;
  color: #B1516D;
  font-weight: 600;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  transition: all 0.3s ease-in-out;
}

div.singleProjet__nav a.singleProjet__link:hover {
  background-color:transparent;
  color: #B1516D;
}

.coordinates__mail, .coordinates__phone, .coordinates__address {
  margin-bottom: 0.8823529411764706em; /*15/17*/
}

.nav__item:first-child:hover{
  background-image: url("../../img/logo-GB-hover.svg");
}

//------------------------------31

.footer_item:first-child img:hover {
  border-radius: 12px;
  background-color: #E0B487;
}

.footer_item:nth-child(2) img:hover {
  border-radius: 3px;
  background-color:#E0B487;
}

.footer_item:nth-child(3) img:hover {
  border-radius: 20px;
  background-color: #E0B487;
}

//------------------------------40

.projects__article:nth-child(odd) .projects__picture .projects__fig {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: -1.176470588235294em; /*20/17*/
  transition: all 0.3s ease-in-out;
}

.projects__article:nth-child(even) .projects__picture .projects__fig {
  position: relative;
  top: 1.176470588235294em; /*20/17*/
  left: 1.176470588235294em; /*20/17*/
  transition: all 0.3s ease-in-out;
}

//------------------------------41

.projects__article:nth-child(even) .projects__picture .projects__fig img {
  box-shadow: 10px 3px 6px #C2C2C2;
  border-radius: 0 36.796875%; /*172px*/
}

//------------------------------50

.projects__link, .intro__link, .project .project__link, .form__button {
  font-size: 1.058823529411765em; /*18/17*/
  margin-top: 1.777777777777778em; /*32/17*/
  background-color: #B1516D;
  letter-spacing: 0.1111111111111111em; /*2/18*/
  color: #FFFFFF;
  font-weight: 600;
  padding: 1.111111111111111em 1.444444444444444em; /*20/18 26/18*/
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.projects__article:nth-child(even) .projects__picture {
  border: solid 3px #E0B487;
  border-radius: 0 36.796875%; /*172*/
}

.projects__article:nth-child(odd) .projects__picture {
  border: solid 3px #E0B487;
  border-radius: 36.796875% 0; /*172*/
}

.projects__article:nth-child(even) .projects__picture:hover .projects__fig{
  transform: translateX(-10%) translateY(-10%);
  transition: all 0.3s ease-in-out;
}

.projects__article:nth-child(odd) .projects__picture:hover .projects__fig{
  transform: translateX(10%) translateY(-10%);
  transition: all 0.3s ease-in-out;
}

.coordinate__title, .form__title, .confident__title, .career__title, .who__title, {
  margin-bottom: 1.666666666666667em; /*50/30*/
}

//------------------------------70

.projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
  margin-left: 5.294117647058824em; /*90/17*/
}

//------------------------------80

.projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
  margin-right: 5.294117647058824em; /*90/17*/
  order: -1;
}

//------------------------------82

.projects__article:nth-child(odd) .projects__picture .projects__fig img, .projects .project:nth-child(odd) .project__picture img {
  box-shadow: -10px 3px 6px #C2C2C2;
  border-radius: 36.796875% 0; /*172/17*/
}

//------------------------------91

h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title, {
  font-size: 1.666666666666667em; /*30/17*/
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

//------------------------------92

.projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title, {
  margin: 5.714285714285714em 2.285714285714286em 2.857142857142857em; /*100/35 80/35*/
}


//------------------------------110

.projects__link:hover, .intro__link:hover, .project .project__link:hover, .form__button:hover, .about__contact:hover {
  color: #B1516D;
  background-color: transparent;
}

//---------------------------------

//--------------------Médias queries---------------------

@media (max-width: 480px) {
  //----------------------------1

  body {
    font-size: 0.8823529411764706em; /*15/17*/
  }

  h2 {
    font-size: 1.666666666666667em;
  }
  //----------------------10

  .burger__line { /*10*/
    background: #B1516D;
    display: block;
    height: 0.2em; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .nav__liste {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1.333333333333333em; /*20/15*/
  }

  .nav__position {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #F8F6F4;
    top: -200%;
    left: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .nav__item {
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #E0B487;
    margin-right: 0;
    min-width: 100%;
  }

  .nav__logo {
    display: block;
    max-width: 2.333333333333333em; /*35/15*/
    min-height: 2.333333333333333em; /*35/15*/
    top: 0.5%;
    left: 4%;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/logo-GB.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    justify-self: start;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 0.4666666666666667em; /*7/15*/
    width: 2em;
    z-index: 15;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 1em; /*15*/
    width: 1.7em;
    z-index: 10;
  }

  .header__nav {
    min-height: 3em;
  }

  .intro {
    background-repeat: no-repeat;
    padding: 5.333333333333333em 0;
    border-radius: 0 8.5em;
    min-height: 70%;
  }

  .intro__title {
    font-size: 2em; /*30/15*/
  }

  .intro__container {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  .intro__link {
    padding: 0.5em;
    margin: 0;
  }

  .about__position {
    display: block;
  }

  .career__thumb {
    max-width: 3.5em;
    max-height: 3.5em;
  }

  .projects__excerpt {
    display: none
  }

  .projects__link {
    padding: 0.5em 1em;
    margin: 0;
  }

  .projects__header {
    flex-direction: column;
    align-items: start;
    padding: 4em 0 1em;
  }

  .projects__cards {
    padding: 1em;
    flex: 1;
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
  }

  .projects__article {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    margin-bottom: 3.333333333333333em; /*50/15*/
  }

  .projects__thumb {
    width: 100%;
    height: 100%;
  }

  .singleProjet__header {
    flex-direction: column;
    padding-left: 0;
    align-items: start;
    padding-top: 3.133333333333333em; /*107/15*/
    padding-bottom: 3.333333333333333em; /*50/15*/
    margin-top: 4.33em;
    margin-bottom: 0;
    margin-left: 0;
  }

  .singleProjet__fig {
    border: solid 2px #E0B487;
    border-radius: 7em 0
  }

  .singleProjet__thumb {
    border-radius: 7em 0;
    top: 0.6em;
    left: -0.6em;
    max-width: 23.33333333333333em; /*350/15*/
  }

  .singleProjet__nav {
    grid-gap: 1em 0.1em;
    grid-template-columns: 3.333333333333333em 1fr 3.333333333333333em; /*50/15*/
  }

  .about__nav {
    gap: 4em;
  }

  .form__position {
    flex-direction: column;
  }

  .coordinates {
    margin-right: 0;
  }

  .confident {
    margin-bottom: 5em;
  }

  .footer {
    padding: 0 1.5em;
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
  }

  .footer__placeholder {
    font-size: 0.6666666666666667em; /*10/15*/
    margin-bottom: 0.6666666666666667em; /*10/15*/
  }

  .footer__fig {
    margin-right: 1em;
  }

  .footer__link {
    font-size: 0.6666666666666667em; /*10/15*/
  }


  //----------------------11

  h2.projects__title {
    font-size: 1.666666666666667em;
  }

  .nav__item a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
    font-weight: 500;
  }

  img.footer__thumb {
    width: 1.4em;
  }

  //----------------------12

  textarea, input[type=text] {
    padding-left: 0;
  }

  //----------------------20

  .nav__item:first-child {
    background-image: none;
    min-height: auto;
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #E0B487;
    margin-right: 0;
    min-width: 100%;
  }
  .nav__logo:hover{
    background-image: url("../../img/logo-GB-hover.svg");
  }
  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
  }

  .projects__article:nth-of-type(2) {
    margin-top: 0;
  }

  .projects__article:nth-of-type(even) {

    flex-direction: column;
  }

  .projects__article, .project {
    margin-top: 0;
  }

  .lastest__link, .singleProjet__return {
    margin-top: 0.6666666666666667em; /*10/15*/
    font-size: 0.7333333333333333em; /*11/15*/
  }

  .contact__position, .legales__position {
    flex-direction: column;
  }

  .form__field:nth-of-type(1) {
    margin-right: 0;
  }

  //----------------------21

  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }

  .nav__item:nth-of-type(1) a {
    width: auto;
    height: auto;
  }

  .singleProjet__nav a:first-child {
    justify-self: flex-start;
  }

  .singleProjet__nav a:last-child {
    justify-self: flex-end;
  }

  //----------------------30

  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav__item:first-child:hover{
    background-image: none;
  }

  //----------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
    background-color: #E0B487;
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
    background-color: #E0B487;
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
    background-color: #E0B487;
  }

  //----------------------50

  .layout__contact, .layout__legales, .layout__about, .layout__project, .layout__singleProjet {
    padding: 0 1em;
  }

  //----------------------64

  .singleProjet__nav a:first-child, .singleProjet__nav a:last-child, div.singleProjet__nav a.singleProjet__link {
    font-size: 0.7333333333333333em; /*11/15*/
    text-align: center;
  }

  //-------------------------70
  .projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
    margin-left: 0;
  }

  .projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
    margin-right: 0;
  }

  .projects__link, .intro__link, .project .project__link, .form__button, .about__contact, .about__cv {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  //--------------------------91

  h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title {
    font-size: 1.333333333333333em; /*20/15*/
  }

  //--------------------------92
  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title {
    margin-left: 0;
    margin-top: 4.666666666666667em; /*100/15*/
  }


}

@media (min-width: 481px) and (max-width: 860px) {
  //----------------------------1

  body {
    font-size: 0.8823529411764706em; /*15/17*/
  }

  h2 {
    font-size: 1.666666666666667em;
  }
  //----------------------10
  .burger__line { /*10*/
    background: #B1516D;
    display: block;
    height: 0.2em; /*3/15*/
    width: 100%;
  }

  .line1 { /*10*/
    transform-origin: 5% 50%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 { /*10*/
    transition: transform 0.2s ease-in-out;
  }

  .line3 { /*10*/
    transform-origin: 10% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .header__nav {
    min-height: 3em;
  }

  .nav__item {
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #E0B487;
    margin-right: 0;
    min-width: 100%;
  }

  .nav__logo {
    display: block;
    max-width: 2.333333333333333em; /*35/15*/
    min-height: 2.333333333333333em; /*35/15*/
    top: 0.5%;
    left: 4%;
    right: 0;
    position: fixed;
    z-index: 10;
    background-image: url("../../img/logo-GB.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    justify-self: start;
  }

  .nav__checkbox { /*10*/
    cursor: pointer;
    display: block;
    height: 2em;
    opacity: 0;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 0.4666666666666667em; /*7/15*/
    width: 2em;
    z-index: 15;
  }

  .nav__burger { /*10*/
    display: flex;
    flex-direction: column;
    height: 1.2em;
    justify-content: space-between;
    justify-self: center;
    position: absolute;
    right: 1.333333333333333em; /*20/15*/
    top: 1em; /*15*/
    width: 1.7em;
    z-index: 10;
  }

  .nav__liste {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1.333333333333333em; /*20/15*/
  }

  .nav__position {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #F8F6F4;
    top: -200%;
    left: 0;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }

  .intro {
    background-repeat: no-repeat;
    padding: 8.333333333333333em;
    border-radius: 0 16.5em;
    min-height: 70%;
  }

  .intro__title {
    font-size: 2em; /*30/15*/
  }

  .intro__container {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  .intro__link {
    padding: 0.5em;
    margin: 0;
  }

  .about__position {
    display: block;
  }

  .about__nav {
    gap: 8em;
  }

  .career__list {
    justify-content: center;
  }

  .career__thumb {
    max-width: 5.5em;
    max-height: 5.5em;
  }

  .coordinates {
    margin-right: 0;
  }

  .confident {
    margin-bottom: 5em;
  }

  .singleProjet__header {
    flex-direction: column;
    padding-left: 0;
    align-items: start;
    padding-top: 3.133333333333333em; /*107/15*/
    padding-bottom: 3.333333333333333em; /*50/15*/
    margin-top: 4.33em;
    margin-bottom: 0;
    margin-left: 0;
  }

  .singleProjet__fig {
    border: solid 2px #E0B487;
    border-radius: 7em 0
  }

  .singleProjet__thumb {
    border-radius: 7em 0;
    top: 0.6em;
    left: -0.6em;
    max-width: 33.33333333333333em; /*500/15*/
  }

  .singleProjet__nav {
    grid-gap: 1em 0.1em;
    grid-template-columns: 3.333333333333333em 1fr 3.333333333333333em; /*50/15*/
  }

  .projects {
    align-items: center;
  }

  .projects__thumb {
    width: 100%;
    height: 100%;
  }

  .projects__excerpt {
    display: none
  }

  .projects__link {
    padding: 0.5em 1em;
    margin: 0;
  }

  .projects__header {
    flex-direction: column;
    align-items: start;
    padding: 4em 0 1em;
    align-self: flex-start;
  }

  .projects__cards {
    padding: 1em;
    flex: 1;
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
  }

  .projects__article {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column-reverse;
    margin-bottom: 5.666666666666667em; /*85/15*/
  }

  .footer {
    padding: 0 1.5em;
  }

  .footer__fig {
    margin-right: 1em;
  }

  .footer__link {
    font-size: 0.6666666666666667em; /*10/15*/
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
  }

  .footer__placeholder {
    font-size: 0.6666666666666667em; /*10/15*/
    margin-bottom: 0.6666666666666667em; /*10/15*/
  }

  .form__position {
    flex-direction: column;
  }

  //----------------------11

  h2.projects__title {
    font-size: 1.666666666666667em;
    align-self: flex-start;
  }

  .nav__item a {
    font-size: 1.333333333333333em; /*20/15*/
    text-transform: uppercase;
    font-weight: 500;
  }

  img.footer__thumb {
    width: 1.4em;
  }

  //----------------------12

  textarea, input[type=text] {
    padding-left: 0;
  }

  //----------------------20

  .nav__item:first-child {
    background-image: none;
    min-height: auto;
    padding-bottom: 0.6666666666666667em; /*10/15*/
    text-align: center;
    align-self: auto;
    border-bottom: 1px solid #E0B487;
    margin-right: 0;
    min-width: 100%;
  }

  .nav__item:nth-of-type(2) {
    flex: none;
    justify-content: center;
  }

  .nav__logo:hover{
    background-image: url("../../img/logo-GB-hover.svg");
  }

  .projects__article:nth-of-type(2) {
    margin-top: 0;
  }

  .projects__article:nth-of-type(even) {

    flex-direction: column;
  }

  .projects__cards, .project__cards {
    max-width: initial;
  }

  .projects__article:nth-of-type(odd) {
    align-self: flex-start;
  }

  .projects__article:nth-of-type(even) {
    align-self: flex-end;
  }

  .projects__article, .project {
    margin-top: 0;
    max-width: 70%;
  }

  .lastest__link, .singleProjet__return {
    margin-top: 0.6666666666666667em; /*10/15*/
    font-size: 0.7333333333333333em; /*11/15*/
  }

  .contact__position, .legales__position {
    flex-direction: column;
  }

  .form__field:nth-of-type(1) {
    margin-right: 0;
  }

  //----------------------21
  .nav__item:first-child a {
    position: relative;
    opacity: 1;
  }

  .nav__item:nth-of-type(1) a {
    width: auto;
    height: auto;
  }

  .singleProjet__nav a:first-child {
    justify-self: flex-start;
  }

  .singleProjet__nav a:last-child {
    justify-self: flex-end;
  }

  //----------------------30
  .nav__item:first-child:hover{
    background-image: none;
  }
  .nav__checkbox:checked ~ .nav__position { /*30*/
    top: 0;
    transition: all 0.3s ease-in-out;
  }

  //----------------------40
  .nav__checkbox:checked ~ .burger .line1 { /*40*/
    transform: rotate(45deg);
    background-color: #E0B487;
  }

  .nav__checkbox:checked ~ .burger .line3 { /*40*/
    transform: rotate(-45deg);
    background-color: #E0B487;
  }

  .nav__checkbox:checked ~ .burger .line2 { /*40*/
    transform: scaleY(0);
    background-color: #E0B487;
  }

  .projects__article:nth-child(even) .projects__picture .projects__fig {
    display: flex;
  }

  .projects__article:nth-child(odd) .projects__picture .projects__fig {
    display: flex;
  }

  //----------------------50

  .layout__contact, .layout__legales, .layout__about, .layout__project, .layout__singleProjet {
    padding: 0 3em;
  }


  //----------------------64

  .singleProjet__nav a:first-child, .singleProjet__nav a:last-child, div.singleProjet__nav a.singleProjet__link {
    font-size: 0.7333333333333333em; /*11/15*/
    text-align: center;
  }

  //-------------------------70

  .projects__link, .intro__link, .project .project__link, .form__button, .about__contact, .about__cv {
    font-size: 0.7333333333333333em; /*11/15*/
  }

  .projects .projects__article:nth-child(odd) .projects__picture, .project:nth-child(odd) .project__picture {
    margin-left: 0;
  }

  .projects .projects__article:nth-child(even) .projects__picture, .projects .project:nth-child(even) .project__picture {
    margin-right: 0;
  }

  //--------------------------91

  h3.projects__title, .project__title, .career__title, .who__title, .contact__section .contact__title, .form__title, .coordinate__title, .confident__title {
    font-size: 1.333333333333333em; /*20/15*/
  }

  //--------------------------92

  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title {
    margin-left: 0;
    margin-top: 4.666666666666667em; /*100/15*/
  }

}

@media (min-width: 861px) and (max-width: 1100px) {
  //-------------------------------1

  nav{
    padding: 0;
  }

  //-------------------------------10

  .intro {
    padding: 8em 0;
    border-radius: 0 17em;
  }

  .intro__title{
    padding-top: 3em;
  }

  .projects__header{
    padding-left: 0;
  }

  .singleProjet__thumb{
    max-width: 46.66666666666667em; /*700/15*/
    border-radius: 10.1176470588em 0;
  }

  .footer{
    padding: 0 2em;
  }

  //-------------------------------20

  .projects__cards, .project__cards{
    max-width: initial;
  }

  //-------------------------------40

  .projects:nth-of-type(2), .contact__position, .legales__position{
    padding: 0 2em;
  }

  //-------------------------------92

  .projects__header h2.projects__title, .about .about__title, .contact .contact__title, .projects h2.projects__title, .legales__title{
    margin-left: 0.8571428571em;
  }
}

@media (min-width: 1710px) {
  //-----------------------1

  body {
    font-size: 1.176470588235294em; /*20/17*/
  }

  //-----------------------10
  .nav__position {
    display: flex;
  }

  .nav__logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .intro {
    min-height: 55em;
  }

  .intro__title {
    padding: 7.5em 0 2em 0;
  }

  .layout__singleProjet {
    margin-bottom: 5em;
  }

  .layout__contact {
    margin-bottom: 6em;
  }

  .legales__position {
    margin-bottom: 9.5em;
  }
  //-----------------------20

  .nav__checkbox, .burger { /*20*/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }

}